<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section>
  <h1 class="sr-only">Checkout</h1>

  <div class="grid grid-cols-1 mx-auto max-w-screen-2xl md:grid-cols-2">
    <div class="py-12 bg-gray-50 md:py-24">
      <div class="max-w-lg px-4 mx-auto space-y-8 lg:px-8">
        <div class="flex items-center">
          <span class="w-10 h-10 bg-blue-700 rounded-full"></span>

          <h2 class="ml-4 font-medium text-gray-900">Your ticket</h2>
        </div>

        <div>
          <p class="text-2xl font-medium tracking-tight text-gray-900">
            {{Total}}
          </p>

          <p class="mt-1 text-sm text-gray-600">For the purchase of</p>
        </div>

        <div>
          <div class="flow-root">
            <ul class="-my-4 divide-y divide-gray-100">
              <li class="flex items-center py-4">
                <img
                  src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80"
                  alt=""
                  class="object-cover w-16 h-16 rounded"
                />

                <div class="ml-4">
                  <h3 class="text-lg text-gray-900">Basic Ticket</h3>

                  <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                    <div>
                      <dt class="inline">Type:</dt>
                      <dd class="inline">Adults</dd>
                    </div>
                  </dl>

                
                <div>
                  <label for="QuantityA" class="sr-only"> Quantity </label>
                
                  <div class="flex items-center gap-1">
                    <button
                      type="button"
                      class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                      (click)="Adults= Adults - 1"
                    >
                      &minus;
                    </button>
                
                    <input
                      type="number"
                      id="QuantityA"
                      value="{{Adults}}"
                      class="w-24 h-10 border-gray-200 rounded sm:text-sm"
                    />
                
                    <button
                      type="button"
                      class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                      (click)="Adults = Adults + 1" 
                    >
                      &plus;
                    </button>
                  </div>
                </div>

                </div>
              </li>

              <li class="flex items-center py-4">
                <img
                  src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80"
                  alt=""
                  class="object-cover w-16 h-16 rounded"
                />

                <div class="ml-4">
                  <h3 class="text-lg text-gray-900">Basic Ticket</h3>

                  <dl class="mt-0.5 space-y-px text-[12px] text-gray-600">
                    <div>
                      <dt class="inline">Type:</dt>
                      <dd class="inline">Children</dd>
                    </div>
                  </dl>
                  
<div>
  <label for="QuantityC" class="sr-only"> Quantity </label>

  <div class="flex items-center gap-1">
    <button
      type="button"
      class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
      (click)="Child= Child - 1"
    >
      &minus;
    </button>

    <input
      type="number"
      id="QuantityC"
      value="{{Child}}"
      class="w-24 h-10 border-gray-200 rounded sm:text-sm"
    />

    <button
      type="button"
      class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
      (click)="Child= Child - 1"
    >
      &plus;
    </button>
  </div>
</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="py-12 bg-white md:py-24 dark:bg-gray-900">
      <div class="max-w-lg px-4 mx-auto lg:px-8">
        <form
          [formGroup]="checkout_form"
          (ngSubmit)="(onSubmit())"
          class="grid grid-cols-6 gap-4"
        >
          <div class="col-span-3">
            <div class="relative">
              <input
                type="text"
                id="firstname"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                formControlName="firstname"
              />
              <label
                for="firstname"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                >First Name</label
              >
            </div>

            <p
              *ngIf="submitted && f['firstname'].errors"
              class="mt-2 text-xs text-red-600 dark:text-red-400"
            >
              <span
                *ngIf="f['firstname'].errors['required']"
                class="font-medium"
              >
                First Name is required
              </span>
            </p>
          </div>

          <div class="col-span-3 relative">
            <input
              type="text"
              id="lastname"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="lastname"
            />
            <label
              for="lastname"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
              >Last Name</label
            >
            <div
              *ngIf="submitted && f['lastname'].errors"
              class="mt-2 text-xs text-red-600 dark:text-red-400"
            >
              <div *ngIf="f['lastname'].errors['required']" class="font-medium">
                First Name is required
              </div>
            </div>
          </div>

          <div class="col-span-6 relative">
            <input
              type="text"
              id="email"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="email"
            />
            <label
              for="email"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
              >Email</label
            >
            <div
              *ngIf="submitted && f['email'].errors"
              class="mt-2 text-sm text-red-600 dark:text-red-500 font-medium"
            >
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>

          <div class="col-span-6 relative">
            <input
              type="text"
              id="Tel"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="Tel"
            />
            <label
              for="Tel"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
              >Phone</label
            >
            <div
              *ngIf="submitted && f['Tel'].errors"
              class="mt-2 text-sm text-red-600 dark:text-red-500 font-medium"
            >
              <div *ngIf="f['Tel'].errors['required']">Phone is required</div>
              <!-- <div *ngIf="f['Tel'].errors['email']">Email is invalid</div> -->
            </div>
          </div>

          <fieldset class="col-span-6">
            <legend class="block text-sm font-medium text-gray-500">
              Card Details
            </legend>

            <div
              class="mt-1 -space-y-px bg-white rounded-md shadow-sm dark:bg-gray-900"
            >
              <div class="relative">
                <input
                  type="text"
                  id="Cardnumber"
                  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                  placeholder=" "
                  formControlName="Cardnumber"
                />
                <label
                  for="Cardnumber"
                  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                  >Card Number</label
                >
                <div
                  *ngIf="submitted && f['Cardnumber'].errors"
                  class="mt-2 text-xs text-red-600 dark:text-red-400"
                >
                  <div
                    *ngIf="f['Cardnumber'].errors['required']"
                    class="font-medium"
                  >
                    Card Number is required
                  </div>
                </div>
              </div>

              <div class="flex -space-x-px dark:bg-gray-900">
                <div class="flex-1 ">
              
                    <label for="CardExpiry" class="sr-only dark:bg-gray-900"> Card Expiry </label>

                    <input
                      type="text"
                      id="CardExpiry"
                      placeholder="Expiry Date"
                      formControlName="ExpiryDate"
                      class="relative w-full dark:bg-gray-900 border-gray-200 rounded-bl-md focus:z-10 sm:text-sm"
                    />
                  >
          

                <div
                  *ngIf="submitted && f['ExpiryDate'].errors"
                  class="mt-2 text-xs text-red-600 dark:text-red-400"
                >
                  <div
                    *ngIf="f['ExpiryDate'].errors['required']"
                    class="font-medium"
                  >
                  ExpiryDate is required
                  </div>
                </div>
                </div>

                <div class="flex-1">
                  <label for="CardExpiry" class="sr-only dark:bg-gray-900">CVC </label>

                  <input
                    type="text"
                    id="CVC"
                    placeholder="CVC"
                    formControlName="CVC"
                    class="relative w-full dark:bg-gray-900 border-gray-200 rounded-bl-md focus:z-10 sm:text-sm"
                  />
                  <div
                  *ngIf="submitted && f['CVC'].errors"
                  class="mt-2 text-xs text-red-600 dark:text-red-400"
                >
                  <div
                    *ngIf="f['CVC'].errors['required']"
                    class="font-medium"
                  >
                    CVC is required
                  </div>
                </div>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="col-span-6">
            <legend class="block text-sm font-medium text-gray-500">
              Billing Address
            </legend>

            <div class="mt-1 -space-y-px bg-white rounded-md shadow-sm dark:bg-gray-900">
              <div>
                <label for="Country" class="sr-only dark:bg-gray-900 dark:text-gray-500">Country</label>

                <select
                  id="Country"
                  class="relative w-full border-gray-200 rounded-t-md focus:z-10 sm:text-sm dark:bg-gray-900 dark:text-gray-500"
                >
                  <option>England</option>
                  <option>Wales</option>
                  <option>Scotland</option>
                  <option>France</option>
                  <option>Belgium</option>
                  <option>Japan</option>
                  <option>VietNam</option>
                </select>
              </div>

              <div>
                <label class="sr-only dark:bg-gray-900" for="PostalCode"> ZIP/Post Code </label>

                <input
                  type="text"
                  id="PostalCode"
                  placeholder="ZIP/Post Code"
                  formControlName="postalCode"
                  class="relative w-full border-gray-200 rounded-b-md focus:z-10 sm:text-sm dark:bg-gray-900"
                />
              </div>
            </div>
          </fieldset>

          <div class="col-span-6">
            <button
              type="submit"
              class="block w-full rounded-md bg-black p-2.5 text-sm text-white transition hover:shadow-lg"
            >
              Pay Now
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
