<!-- article - start -->
<div
  class="flex flex-col md:flex-row items-center border rounded-lg overflow-hidden"
>
  <a
    href="#"
    class="group w-full md:w-32 lg:w-48 h-48 md:h-full block self-start shrink-0 bg-gray-100 aspect-square relative"
  >
    <img
      src="{{Equipment.image}}"
      loading="lazy"
      alt="Photo by Minh"
      class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
    />
  </a>

  <div class="flex flex-col gap-2 p-4 lg:p-6">

    <h2 class="text-gray-800 text-xl font-bold">
      <a
        href="#"
        class="hover:text-indigo-500 active:text-indigo-600 transition duration-100"
        >{{Equipment.title}}</a
      >
    </h2>

    <p class="text-gray-500  line-clamp-3">
     {{Equipment.description}}
    </p>

    <div>
      <a
        href="#"
        class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 font-semibold transition duration-100"
        >Read more</a
      >
    </div>
  </div>
</div>
