<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full " src={{Equipment.image}} alt="dashboard image">
        
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{Equipment.title}}</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">{{Equipment.description}}</p>
        </div>
    </div>
</section>
