<app-hero
  [background]="resBG"
  [item]="headImage"
  [headline]="headline"
></app-hero>
<div class="flex flex-wrap container">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(1)"
          [ngClass]="{
            'text-sky-600 bg-white': openTab !== 1,
            'text-white bg-sky-600': openTab === 1
          }"
        >
          Breakfast
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(2)"
          [ngClass]="{
            'text-sky-600 bg-white': openTab !== 2,
            'text-white bg-sky-600': openTab === 2
          }"
        >
          Lunch
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(3)"
          [ngClass]="{
            'text-sky-600 bg-white': openTab !== 3,
            'text-white bg-sky-600': openTab === 3
          }"
        >
          Dinner
        </a>
      </li>
    </ul>
    <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
    >
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
            <div
              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12"
            >
              <div
                class="bg-white border border-gray-100 transition transform duration-700 hover:shadow-xl hover:scale-105 p-4 rounded-lg relative"
                *ngFor="let item of BreakFast"
              >
                <span
                  class="bg-red-100 border border-red-500 rounded-full text-primary text-sm poppins px-4 py-1 inline-block mb-4"
                  >Breakfast</span
                ><img
                  class="w-64 mx-auto transform transition duration-300 hover:scale-105"
                  src="{{ item.image }}"
                  alt=""
                />
                <div class="flex flex-col items-center my-3 space-y-2">
                  <h1 class="text-gray-900 poppins text-lg">{{ item.name }}</h1>
                  <p class="text-gray-500 poppins text-sm text-center">
                    {{ item.description }}
                  </p>
                  <h2 class="text-gray-900 poppins text-2xl font-bold">
                    {{ item.price | currency : "USD" }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
            <div
              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12"
            >
              <div
                class="bg-white border border-gray-100 transition transform duration-700 hover:shadow-xl hover:scale-105 p-4 rounded-lg relative"
                *ngFor="let item of lunch"
              >
                <span
                  class="bg-red-100 border border-red-500 rounded-full text-primary text-sm poppins px-4 py-1 inline-block mb-4"
                  >Lunch</span
                ><img
                  class="w-64 mx-auto transform transition duration-300 hover:scale-105"
                  src="{{ item.image }}"
                  alt=""
                />
                <div class="flex flex-col items-center my-3 space-y-2">
                  <h1 class="text-gray-900 poppins text-lg">{{ item.name }}</h1>
                  <p class="text-gray-500 poppins text-sm text-center">
                    {{ item.description }}
                  </p>
                  <h2 class="text-gray-900 poppins text-2xl font-bold">
                    {{ item.price | currency : "USD" }}
                  </h2>
                </div>
              </div>
            </div>
          <div [ngClass]="{ hidden: openTab !== 3, block: openTab === 3 }">
            <div
              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-12"
            >
              <div
                class="bg-white border border-gray-100 transition transform duration-700 hover:shadow-xl hover:scale-105 p-4 rounded-lg relative"
                *ngFor="let item of dinner"
              >
                <span
                  class="bg-red-100 border border-red-500 rounded-full text-primary text-sm poppins px-4 py-1 inline-block mb-4"
                  >Dinner</span
                ><img
                  class="w-64 mx-auto transform transition duration-300 hover:scale-105"
                  src="{{ item.image }}"
                  alt=""
                />
                <div class="flex flex-col items-center my-3 space-y-2">
                  <h1 class="text-gray-900 poppins text-lg">{{ item.name }}</h1>
                  <p class="text-gray-500 poppins text-sm text-center">
                    {{ item.description }}
                  </p>
                  <h2 class="text-gray-900 poppins text-2xl font-bold">
                    {{ item.price | currency : "USD" }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
