<section class="">
<app-hero
  [textdescription]="textdescription"
  [headline]="headline"
  [item]="image"
  [background]="bg_image"
></app-hero>
<app-stat></app-stat>
<section class="py-6 dark:bg-gray-800">
	<div class="container flex flex-col justify-center p-4 mx-auto">
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-4 sm:grid-cols-2">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="../../assets/crush-n-gusher-gallery00.webp" alt="image carousel">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="../../assets/crush-n-gusher-gallery01.webp" alt="image carousel">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="../../assets/crush-n-gusher-gallery03.webp" alt="image carousel">
			<img class="object-cover w-full dark:bg-gray-500 aspect-square" src="../../assets/crush-n-gusher-gallery08.webp" alt="image carousel">
		</div>
	</div>
</section>

<app-blog></app-blog>

<!-- <app-content
  [leftimage]="lefter"
  [rightimage]="righter"
  [body]="body"
  [headline]="header"
  [smallheader]="smallheader"
></app-content> -->
<app-testimonial></app-testimonial>
</section>
<div class="w-full dark:bg-gray-500" style="background-image: url('https://source.unsplash.com/UYW6FZLlnL8/640x480'); background-position: center center; background-blend-mode: multiply; background-size: cover;">
	<div class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
		<h1 class="text-5xl antialiased font-semibold leading-none text-center dark:text-gray-100">Get Our Updates</h1>
		<p class="pt-2 pb-8 text-xl antialiased text-center dark:text-gray-100">Find out about events and other news</p>
		<div class="flex flex-row">
			<input type="text" placeholder="example@email.com" class="w-3/5 p-3 rounded-l-lg sm:w-2/3">
			<button type="button" class="w-2/5 p-3 font-semibold rounded-r-lg sm:w-1/3 bg-primary-500 dark:bg-sky-400 dark:text-gray-900">Subscribe</button>
		</div>
	</div>
</div>